<mat-card>
  <div>
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/estante']"
        class="button-cadastra"
      >
        Voltar
      </button>
    </div>
    <table class="mat-elevation-z8">
      <thead>
        <tr class="cabecalho-tabela">
          <td>Nome</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estante of estantes">
          <td>{{ estante.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/estante/alterar', estante.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(estante.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
