<mat-card>
  <div>
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/categoria/cadastrar']"
        class="button-cadastra"
      >
        Adicionar Categoria
      </button>
    </div>
    <table class="mat-elevation-z8">
      <thead>
        <tr class="cabecalho-tabela">
          <td>Nome</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/categoria/alterar', categoria.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(categoria.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
