<mat-card>
  <div>
    <div class="table-info">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/categoria/cadastrar']"
      >
        Adicionar Categoria
      </button>
      <input
        type="text"
        placeholder="&#x2315; buscar categoria pelo nome"
        class="input-busca"
      />
    </div>
    <table>
      <thead>
        <tr class="cabecalho-tabela">
          <td>Nome</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/categoria/alterar', categoria.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(categoria.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
