<mat-card>
  <div>
    <div class="table-info">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/secao/cadastrar']"
      >
        Adicionar Seção
      </button>
      <input type="text" placeholder="buscar seção pelo nome" />
    </div>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th class="actions">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let secao of secoes">
          <td>{{ secao.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/secao/alterar', secao.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(secao.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
