.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions button {
  margin: 10px;
}

.table-info > input {
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #666;
  border-radius: 4px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ccc;
}

thead tr {
  background-color: rgb(228, 228, 228);
}

.actions {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
