<mat-card>
  <form [formGroup]="livroForm">
    <mat-form-field>
      <mat-label>Título *</mat-label>
      <input matInput placeholder="ex: Moby Dick" formControlName="titulo" />
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Autor *</mat-label>
      <input
        matInput
        placeholder="ex: Herman Melville"
        formControlName="autor"
      />
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>isbn *</mat-label>
      <input
        matInput
        placeholder="ex: 9780140861723"
        formControlName="isbn"
        (input)="onlyNumbers($event)"
      />
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria </mat-label>
      <mat-select formControlName="categoria" required>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria.nome }}
        </mat-option>
      </mat-select>
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estante </mat-label>
      <mat-select formControlName="estante" required>
        <mat-option *ngFor="let estante of estantes" [value]="estante">
          {{ estante.nome }}
        </mat-option>
      </mat-select>
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="mat-raised-button-salvar"
      (click)="onSave(livroForm.value)"
    >
      Salvar
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Calcelar
    </button>
  </form>
</mat-card>
