<div class="content">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="mat-icon-livro">book</mat-icon>
        <span class="span-titulo-pagina">Biblioteca</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-raised-button color="primary" routerLink="/livro">
          Livros
        </button>
        <button mat-raised-button color="primary" routerLink="/categoria">
          Categorias
        </button>
        <button mat-raised-button color="primary" routerLink="/estante">
          Estantes
        </button>
        <button mat-raised-button color="primary" routerLink="/secao">
          Seções
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>

  <mat-toolbar color="primary" class="mat-toolbar-footer">
    <footer class="footer-1">
      Capacitação Fábrica de Tecnologia Turing - &copy;2020 Pedro Rodrigues
    </footer>
  </mat-toolbar>
</div>
