<mat-card>
  <form [formGroup]="estanteForm">
    <mat-form-field>
      <mat-label>Nome *</mat-label>
      <input matInput placeholder="ex: Estante-1" formControlName="nome" />
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Secao *</mat-label>
      <mat-select formControlName="secao">
        <mat-option *ngFor="let secao of secoes" [value]="secao">
          {{ secao.nome }}
        </mat-option>
      </mat-select>
      <mat-hint>Obrigatório</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="mat-raised-button-salvar"
      (click)="onSave(estanteForm.value)"
    >
      Salvar
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Calcelar
    </button>
  </form>
</mat-card>
