<mat-card>
  <div>
    <div class="table-info">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/estante/cadastrar']"
      >
        Adicionar Estante
      </button>
      <input
        type="text"
        placeholder="&#x2315; buscar estante pelo nome"
        class="input-busca"
      />
    </div>
    <table>
      <thead>
        <tr class="cabecalho-tabela">
          <td>Nome</td>
          <td>Seção</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estante of estantes">
          <td>{{ estante.nome }}</td>
          <td>{{ estante.secao.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/estante/alterar', estante.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(estante.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
