<mat-card>
  <div>
    <div>
      <form class="table-info">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/estante/cadastrar']"
          class="button-cadastra"
        >
          Adicionar Estante
        </button>
        <mat-form-field>
          <input matInput type="text" placeholder="&#x2315; buscar estante" />
        </mat-form-field>
      </form>
    </div>
    <table>
      <thead>
        <tr class="cabecalho-tabela">
          <td>Nome</td>
          <td>Seção</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estante of estantes">
          <td>{{ estante.nome }}</td>
          <td>{{ estante.secao.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/estante/alterar', estante.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(estante.id)"
            >
              Deletar
            </button>
            <button mat-raised-button color="accent">Ver Livros</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
