.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions button {
  margin: 5px;
}

.table-info > input {
  border: 1px solid #ccc;
  padding: 8px 16px;
  color: #666;
  border-radius: 4px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  min-width: 700px;
  width: 100%;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.actions {
  text-align: center;
}

.cabecalho-tabela {
  color: #707070;
}

.input-busca {
  width: 180px;
}
