<mat-card>
  <div>
    <div>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/livro/cadastrar']"
        class="button-cadastra"
      >
        Adicionar Livro
      </button>
    </div>
    <table class="mat-elevation-z8">
      <thead>
        <tr class="cabecalho-tabela">
          <td>Titulo</td>
          <td>Autor</td>
          <td>isbn</td>
          <td>Categoria</td>
          <td class="actions">Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor }}</td>
          <td>{{ livro.isbn }}</td>
          <td>{{ livro.categoria.nome }}</td>
          <td class="actions">
            <button
              mat-raised-button
              color="primary"
              [routerLink]="['/livro/alterar', livro.id]"
            >
              Alterar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteById(livro.id)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
